*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    /* background-image: url("https://lh3.googleusercontent.com/drive-storage/ANtge_EhxrZ8esLP1V9bcMulz3353bmAqCJlkcpjdcgJbG-yRjmxEpASIbMsJN3NKSk6p-ESEP-lKcecsdmmFHHbVSso74nt6eYT_BAKJmCr9A=w1920-h1073"); */
    background-image: url("laptop.jpg");
    background-size: cover;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

}

nav li{
    height: 50px;

}

nav a{
    height: 100%;
    padding: 0 30px ;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;

}

nav a:hover{
    background-color: #d8d8d8;
}

nav li:first-child{
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
    /* border: solid darkturquoise 2px; */
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: display 5s;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}


.material-symbols-outlined {
    display: none;
    /* font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24 */
}

@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .material-symbols-outlined{
        display:block;
    }
}

@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}